.reason-col p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  text-align: center;
  z-index: 10;
}

.reason-col .background-abstrck {
  width: 100%;
  position: absolute;
  opacity: 0.6;
  bottom: 0;
}

.reason-col .icon {
  z-index: 10;
}

.row-reason {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.reason {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.reason .bottom-border {
  height: 4px;
  border: solid 1px #f281a5;
  width: 150px;
  background: #f281a5;
  margin-top: -30px;
  border-radius: 5px;
}

.reason-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 31%;
  background: #72b4f5;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  position: relative;
}

.reason-col img {
  margin-top: 20px;
}

.reason-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  /* margin-top: -10px; */
}

.reason-col h5 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  z-index: 10;
}

@media (max-width: 700px) {
  .row-reason {
    flex-direction: column;
  }

  .reason-col:hover {
    margin-top: 0;
  }
}

/* ------------------------------- END-REASON ------------------------------- */
