/* .Modal {
  height: 30%;
} */

.form-container {
  background: #5c7893;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input {
  background: #fff !important;
  border: none !important;
  padding: 12px 15px !important;
  margin: 8px 0 !important;
  width: 100% !important;
}

.submit-login {
  color: #111 !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 12px 35px !important;
  margin-top: 15px !important;
  border: 1px solid #fcfcfc !important;
  background-color: white;
  border-radius: 20px !important;
  text-transform: uppercase !important;
  transition: transform 80ms ease-in !important;
}

.submit-login:hover {
  color: #111 !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 12px 35px !important;
  margin-top: 15px !important;
  border: 1px solid #fcfcfc !important;
  background-color: white;
  border-radius: 20px !important;
  text-transform: uppercase !important;
  transition: transform 80ms ease-in !important;
  background-color: wheat;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(209, 209, 209);
  opacity: 1; /* Firefox */
}

.input-login input {
  width: 100% !important;
  text-align: center !important;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #fff !important;
  font-size: 16px !important;
  font-weight: 200px !important;
  transition: border 0.5s;
  outline: none;
  color: rgb(43, 43, 43);
  font-weight: normal;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(129, 129, 129, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 1s all !important;
  transition-property: color !important;
}
