/* --------------------------------- NAVBAR --------------------------------- */
.nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 999;
}

a {
  text-decoration: none;
}

.logo img {
  margin-top: -32px;
  width: 100px !important;
  cursor: pointer;
  position: absolute;
}

.sign-in {
  padding: 6.5px 8px;
  cursor: pointer;
  color: #5c7893;
  border: 0.5px solid;
  border-radius: 5px;
  margin-right: 10px;
}

.sign-in:hover {
  color: #84a1be;
  border-color: #84a1be;
}

.sign-up {
  padding: 7px;
  background-color: #5c7893;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up:hover {
  padding: 7px;
  background-color: #84a1be;
  color: white;
  border-radius: 5px;
}

/* .search-input {
  width: 150%;
  border-radius: 20px;
  border: 2px solid;
  border-color: #5c7893;
  background: none;
  color: rgb(71, 71, 71);
} */

.search-input-user {
  display: flex;
  width: 50%;
  margin-left: 10%;
}

.search-input-user input:focus {
  outline: #84a1be;
  border-color: #84a1be;
}

@media (max-width: 768px) {
  .search-input-user input {
    width: 120%;
    height: 100%;
  }
}

@media (max-width: 485px) {
  .logo img {
    display: none !important;
  }
  .search-user-input input {
    width: 100%;
    height: 100%;
  }

  .sign-in {
    margin-right: 3px !important;
    margin-left: 10px !important;
  }

  #search-button {
    display: none;
  }

  .search-input-user {
    margin-left: 0%;
  }
}

@media (max-width: 325px) {
  .search-user-input input {
    width: 50%;
    height: 80%;
  }
  .sign-in {
    margin-right: 3px !important;
    margin-left: 0px !important;
  }
}
