.nav-login-user {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}

.logo-login-user img {
  margin-top: -50px !important;
  width: 100px !important;
  height: 100px;
  cursor: pointer;
  position: absolute !important;
}

.menu-user {
  /* padding-right: 10px; */
  overflow: visible;
  color: black;
  /* z-index: 10; */
}

.menu-user {
  border: none !important;
  outline: none !important;
}

.dropdown-toggle {
  color: black;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:focus {
  outline: none;
}

.dropdown-menu {
  margin-left: -0px;
}

.name {
  color: #5c7893;
  font-size: 25px !important;
  font-style: normal;
  letter-spacing: -1px;
}

.name:hover {
  color: #5c7893;
}

.search-input {
  width: 50%;
  margin-left: 10%;
}

@media (max-width: 885px) {
  #avatar-user {
    font-size: 35px !important;
  }

  #avatar-user a {
    display: none;
  }
}

@media (max-width: 485px) {
  .logo-login-user img {
    display: none !important;
  }

  .search-input {
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }

  .name {
    display: none;
  }

  .dropdown-menu {
    margin-left: -100px;
  }

  #search-button {
    display: none;
  }
}
