.login-img {
  width: 100%;
  /* transform: scale(1.5); */
  height: 100vh;
  object-fit: cover;
  margin-left: -20px;
  margin-right: 0px;
  /* box-shadow: 0px 0px 10px black; */
}

.form-login {
  margin-top: 30vh;
  margin-right: 30px;
}

.form-login a {
  color: black;
}

/* .title-form {
  color: white;
} */
.btn-submit {
  background-color: #84a1be;
  border: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(129, 129, 129, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 1s all !important;
  transition-property: color !important;
}
