.login-img {
  width: 100%;
  /* transform: scale(1.5); */
  height: 100vh;
  object-fit: cover;
  margin-left: -20px;
  margin-right: 0px;
  /* box-shadow: 0px 0px 10px black; */
}

.form-login {
  margin-top: 30vh;
  margin-right: 30px;
}

.form-login a {
  color: black;
}

/* .title-form {
  color: white;
} */
.btn-submit {
  background-color: #84a1be;
  border: none;
}
.spinner-grey{
  background-color:lightslategray;
}
