.container-list-wo {
  margin-left: 90px;
}

.row-card {
  display: flex;
  flex-wrap: wrap;
}

.card-wo {
  cursor: pointer;
}

.images {
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.images img {
  max-width: 100%;
  position: relative;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.images:hover {
  border-radius: 10px;
  -moz-box-shadow: rgba(4, 9, 30, 0.7) 5px 10px inset;
  -webkit-box-shadow: rgba(4, 9, 30, 0.7) 5px 5px 30px inset;
  /* box-shadow: rgba(146, 146, 146, 0.8) 5px 5px 55px inset; */
}

@media (max-width: 850px) {
  .container-list-wo {
    margin-left: 0px;
  }

  .list-wo h2 {
    text-align: center;
  }

  .row-card {
    display: flex;
    justify-content: center;
  }
}

/* -------------------------------- END-CARD -------------------------------- */
