/* .container-list-wo {
  margin-left: 90px;
} */

.row-card {
  display: flex;
  flex-wrap: wrap;
}

.card-wo {
  cursor: pointer;
  width: 271px;
  margin-right: 8px;
}

.images {
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.images img {
  max-width: 100%;
  position: relative;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.images:hover {
  -moz-box-shadow: rgba(4, 9, 30, 0.7) 5px 10px inset;
  -webkit-box-shadow: rgba(4, 9, 30, 0.7) 5px 5px 30px inset;
  box-shadow: rgba(36, 36, 36, 0.3) 5px 5px 55px inset;
  border-radius: 10px;
}

@media (max-width: 1105px) {
  .card-wo {
    width: 340px;
  }
}

@media (max-width: 1100px) {
  .images img {
    width: 500px;
  }
}

@media (max-width: 850px) {
  .list-wo h2 {
    text-align: center;
  }
  .card-wo {
    width: 500px;
  }
  .row-card {
    display: flex;
    justify-content: center;
  }

  .images img {
    width: 500px;
  }
}

/* -------------------------------- END-CARD -------------------------------- */
