.profile-user {
  margin-top: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.content-header {
  display: flex;
}

.image-logo {
  flex-basis: 25%;
  display: inline-block;
  width: 100%;
  /* position: relative; */
  /* overflow: hidden; */
}

.image-logo img {
  width: 13rem;
  height: 13rem;
  /* border-radius: 50%; */
  left: 0;
}

.content-wo {
  margin-left: -7% !important;
}

.status {
  background-color: transparent;
  border: solid 2px;
  border-color: #5c7893;
  border-radius: 5px;
  width: 27%;
}

.status h6 {
  margin-top: 5px;
}

/* ---------------------------------- card ---------------------------------- */
.list-packages {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1400px) {
  .card-wo {
    width: 424px;
  }
}

@media (max-width: 1300px) {
  .card-wo {
    width: 364px;
  }
}

@media (max-width: 1105px) {
  .card-wo {
    width: 340px;
  }
}

@media (max-width: 1100px) {
  .images img {
    width: 500px;
  }
}

@media (max-width: 885px) {
  .content-wo {
    margin-left: 0% !important;
  }
}

@media (max-width: 850px) {
  .profile-user {
    margin-top: 15% !important;
    padding-bottom: 10% !important;
  }

  .content-wo {
    margin-left: 20% !important;
  }

  .card-wo {
    width: 500px;
  }

  .list-packages {
    display: flex;
    justify-content: center;
  }

  .images img {
    width: 500px;
  }

  .image-logo img {
    margin-bottom: 20px;
  }
}

/* .loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(129, 129, 129, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 1s all !important;
  transition-property: color !important;
} */
