.profile-user {
  margin-top: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.content-header {
  display: flex;
}

.image-logo {
  flex-basis: 25%;
  display: inline-block;
  width: 100%;
  /* position: relative; */
  /* overflow: hidden; */
}

.image-logo img {
  width: 80%;
  left: 0;
}

.content-wo {
  margin-left: -7% !important;
}

.status {
  background-color: transparent;
  border: solid 2px;
  border-color: #5c7893;
  border-radius: 5px;
  width: 27%;
}

.status h6 {
  margin-top: 5px;
}

/* ---------------------------------- card ---------------------------------- */

@media (max-width: 885px) {
  .content-wo {
    margin-left: 0% !important;
  }
}

@media (max-width: 850px) {
  .profile-user {
    margin-top: 15% !important;
    padding-bottom: 10% !important;
  }

  .content-wo {
    margin-left: 20% !important;
  }

  .list-packages {
    display: flex;
    justify-content: center;
  }

  .image-logo img {
    margin-bottom: 20px;
  }

  .address {
    flex-direction: column !important;
  }
}
