.body {
  background-color: #5c7893;
}

.logo-register img {
  width: 200px !important;
}

.body-register {
  padding-top: 5%;
  padding-bottom: 10%;
  color: black;
}

.button-submit {
  padding: 8px;
  border-radius: 5px;
  background-color: #84a1be;
  border: none;
  color: white;
  width: 100%;
}

.input-register {
  border: none;
  height: 100%;
  color: #575757;
}

.button-submit:hover {
  background-color: #f2789f;
}

#redirect-signUp-wo,
#redirect-signIn-wo {
  width: 100%;
}

.content-wo hr {
  width: 100%;
}

#redirect-signUp-wo:hover,
#redirect-signIn-wo:hover {
  background-color: #f2789f !important;
  border-color: #f2789f !important;
}

@media (max-width: 850px) {
  .body-register {
    padding-top: 20%;
  }

  #redirect-signUp-wo,
  #redirect-signIn-wo {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .body-register {
    padding-top: 30%;
  }
}

/* ------------------------------- CONTENT WO ------------------------------- */

.content-wo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(129, 129, 129, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 1s all !important;
  transition-property: color !important;
} */
