.nav-login-admin {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}

.logo-login-admin img {
  margin-top: -20px !important;
  width: 50px !important;
  height: 40px;
  cursor: pointer;
  position: absolute !important;
}

.menu-admin {
  /* padding-right: 10px; */
  overflow: visible;
  color: black;
  /* z-index: 10; */
}

.menu-admin {
  border: none !important;
  outline: none !important;
}

.dropdown-toggle {
  color: black;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:focus {
  outline: none;
}

.dropdown-menu {
  margin-left: -0px;
}

.name {
  color: #5c7893;
}

.name:hover {
  color: #5c7893;
}

.search-input {
  width: 50%;
}

@media (max-width: 485px) {
  .logo img {
    display: none;
  }

  .search-input {
    width: 100%;
    height: 100%;
  }

  .name {
    display: none;
  }

  .dropdown-menu {
    margin-left: -100px;
  }
}
