.list-reservasi {
  background-color: #709bc4;
  padding-bottom: 5%;
  padding-top: 5%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.waiting-alert {
  width: 91%;
  margin-left: 4% !important;
  text-align: center;
}

.col-description {
  margin-left: -40px !important;
}

.table-desc {
  border-bottom: transparent;
}

@media (max-width: 885px) {
  .list-reservasi {
    padding-top: 10%;
  }

  .col-description {
    margin-left: 0px !important;
    width: 100%;
  }

  .col-status {
    width: 100%;
  }

  .col-button {
    width: 100% !important;
  }

  .col-button Button {
    margin-left: 4% !important;
    width: 91% !important;
  }

  .row-desc {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .list-reservasi {
    padding-top: 15%;
  }

  .col-description {
    margin-left: 0px !important;
  }

  #detail-package-history {
    width: 100% !important;
    margin-left: 0 !important;
  }

  #user-payment {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .waiting-alert {
    width: 100%;
    margin-left: 0% !important;
  }
}
