.logo-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-header img {
  width: 200px;
  /* padding: 0.5rem 0.5rem; */
  margin-bottom: -20px;
}

.body-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
  /* height: 400px; */
  color: #aeaeae;
  border: dashed 1px #aeaeae;
}

.body-preview img {
  width: 100%;
  height: 100%;
}

.bi-cloud-arrow-up {
  font-size: 100px;
  color: #aeaeae;
  /* margin-bottom: -10%; */
}

.button-submit-payment Button {
  margin-top: 3%;
  width: 100%;
}

#submit-payment {
  width: 100%;
}

.logo-bank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2%;
}

.logo-bank img {
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
}

.rekening-bank {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-bank p {
  text-align: center;
}
